* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.col-white {
    color: #fff !important;
}

.bg-black {
    background-color: #000 !important;
}

.bd-ra-4 {
    border-radius: 8px ;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
}
.expense {
    width: 600px;
    min-height: 400px;
    padding: 16px;
}